
.footer {
  margin: 0px auto;
  padding-top: 50px;
  background-color: rgb(127, 127, 179);
}

.center {
  text-align: center;
}

.departmentname {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}


.departmentinfo {
  background-image: linear-gradient(to right, red, orange, yellow, green, violet);
  text-align: center;
}

.salarystaff {
  border: 1px solid;
  color: blue;
  text-align: center;
  background-image: linear-gradient(to right, red, orange, yellow, green, violet);
}

.headersearch{
  position: relative;
  left: 10%;
}

.btndelete{
  width: 310px;
}

.btnedit{
  width: 310px;
}

.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 300ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 300ms ease-out;
}